/*img{
    width: 100;
    height: 100;
    
}*/
.contenedor{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
}   
.item{
    display: flex;
    height: 200px;
    width: 200px;
    
}
.item:hover{
    border: 2px solid;
}
